@model FlightSystem.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CVV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CVV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
