@model IEnumerable<FlightSystem.Models.Passenger>

@{
    ViewData["Title"] = "Index";
}

<h3>Yolcu bilgilerini giriniz</h3>


<table class="table">
    <tbody>
    <thead>
         <tr>
            <th>
                    @Html.DisplayNameFor(model => model.TicketNum)
            </th>
           
            <th> 
                @Html.DisplayNameFor(model => model.PassengerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.passengerGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TCNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.TicketNum)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passengerGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TCNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.PassengerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PassengerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PassengerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
