@model FlightSystem.Models.Flight

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="/css/flight.css">
<h2>Uçuşlar</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl  class="row" >
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNum)
           uçuş numarası
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDestination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDeparture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDeparture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDepartureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDepartureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestinationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDestinationDate)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestinationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDestinationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EconomyClassPrice)
        </dt>
        <dd class="col-sm-10">
           
            @Html.DisplayFor(model => model.EconomyClassPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessClassPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessClassPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.airlineBusiness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.airlineBusiness)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
