@model List<FlightSystem.Models.Flight>

<h2>Uçuş Sonuçları</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Uçuş Numarası</th>
                <th>Nereden</th>
                <th>Nereye</th>
                <th>Kalkış Tarihi</th>
                <th>Detayları Görüntüle</th>
               
                <!-- Diğer kolonlar -->
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
            {
                <tr>
                    <td>@flight.FlightNum</td>
                    <td>@flight.FlightDeparture</td>
                    <td>@flight.FlightDestination</td>
                    <td>@flight.FlightDepartureDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>
                        <a href="@Url.Action("Details", "Flight", new { id = flight.FlightId })">Detayları Görüntüle</a>
                    </td>
                    <!-- Diğer kolonlar -->
                </tr>
            }
        </tbody>
    </table>

    <!-- Tüm bilgileri gösterme bölümü -->
    @* <h3>Tüm Bilgiler</h3>
    <div>
        @foreach (var flight in Model)
        {
            <p>Uçuş Numarası: @flight.FlightNum</p>
            <p>Nereden: @flight.FlightDeparture</p>
            <p>Nereye: @flight.FlightDestination</p>
            <p>Kalkış Tarihi: @flight.FlightDepartureDate.ToString("dd/MM/yyyy HH:mm")</p>
            <p>havayolu şirketi: @flight.airlineBusiness ></p>
            <!-- Diğer bilgiler -->
        }
    </div> *@
}
else
{
    <p>Uçuş bulunamadı.</p>
}
